
@font-face{
    font-family: "ModernoFB";
 src: url('ModernoFB-Bold.otf'), format('opentype');
}


@font-face {
 font-family: "Benton Sans";
 src:
     url("https://assets.staticlp.com/javascripts/2c8c3478-e1ba-4af3-bfd0-9fea259fc17f-3.woff") format("woff"),
     url("https://assets.staticlp.com/javascripts/2c8c3478-e1ba-4af3-bfd0-9fea259fc17f-1.ttf") format("truetype");
 font-style: normal;
 font-stretch: normal;
/* font-weight: var(--font-weight-light, 300); */
 font-weight: 300;
 font-display: swap;
}

@font-face {
 font-family: "Benton Sans";
 src:
     url("https://assets.staticlp.com/javascripts/743d3d3a-da58-48d2-a5c3-bd7994650e23-3.woff") format("woff"),
     url("https://assets.staticlp.com/javascripts/743d3d3a-da58-48d2-a5c3-bd7994650e23-1.ttf") format("truetype");
 font-style: normal;
 font-stretch: normal;
/* font-weight: var(--font-weight-medium, 600); */
 font-weight: 600;
 font-display: swap;
}

body {
 margin: 2em;
 font-size: 1.5em;
 font-family: "Benton Sans", sans-serif;
 font-weight: 600;
 -webkit-font-smoothing: antialiased;
 background-color: #E8E5D8;
}
.segment {
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 10px;
    background-color: #E8E5D8;
    color: black;
    font-family: "Benton Sans";
    font-weight: var(--font-weight-light, 300);
    height: 18vh; /* Take up 100% of the viewport height */
    width: 100%; /* Take up 100% of the viewport width */
    display: flex; /* Use flexbox layout */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    border: none;
    text-align: center;
}  

.segment p {
    text-align: left;
    padding: 2rem;
    font-size: 1.25rem;
    max-width: 60%; /* Adjusted to fit within the container */
}

.smallsegment {
 padding: 20px;
 border: 1px solid #ddd;
 border-radius: 5px;
 margin: 20px;
 background-color: black;
     color: white;
 font-family: Helvetica, sans-serif;
 height: 10vh; /* Take up 100% of the viewport height */
 width: 95%; /* Take up 100% of the viewport width */
 display: flex; /* Use flexbox layout */
     justify-content: center; /* Center horizontally */
     align-items: center; /* Center vertically */
 border: none;
 text-align: center;
}  
.datetime {
 padding: 20px;
 border: 1px solid #ddd;
 border-radius: 5px;
 margin: 10px;
 background-color: #E8E5D8;
     color: black;
 font-family: "ModernoFB";
 font-weight: var(--font-weight-heavy, 600);
 height: 5; /* Take up 100% of the viewport height */
 width: 95%; /* Take up 100% of the viewport width */
 display: flex; /* Use flexbox layout */
     justify-content: center; /* Center horizontally */
     align-items: center; /* Center vertically */
 border: none;
 text-align: center;
}  

.datetime p {
 text-align: center;
 padding: 2rem;
 font-size: 2.25rem;
 width: 800px
}

.grid-container-three {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  max-width: 1000px; /* Adjust as needed */
  padding: 20px;
  margin: 0 auto; /* Center the grid container */
}

.grid-item {
  width: 100%;
  height: auto;
  object-fit: cover;
}

#scrolly {
 position: relative;
 padding: 1rem;
}

.scrolly-overlay {
 position: relative;
 padding: 0;
 max-width: 20rem;
 margin: 0 auto;
 margin-left: 10px; /* edit to move scrolly content to left */
}

.sticky-thing {
 position: -webkit-sticky;
 position: sticky;
 left: 0;
 width: 100%;
 margin: 0;
 z-index: 0;
 top: 0;
 height: 100vh;
 /* Center everything inside */
 display: flex;
 justify-content: center;
 flex-direction: column;
 justify-content: center;
}

.step {
margin: 0 auto 2rem auto; /* Sets margin top and bottom to 2rem and centers the element horizontally */
/* margin-left: 0px; */
margin-bottom: 25rem; /* Adds additional margin-bottom */
background-color: rgba(232, 229, 216, .5); /* Sets background color to black */
color: black; /* Sets text color to white */
font: inherit; /* Inherits font properties from parent */
min-height: 50px; /* Set minimum height */
display: inline-block; /* Ensures that the element takes up space even when it's empty */
}

.step p {
 text-align: left;
 padding: 1rem;
 font-size: 1.25rem;
 border: black;
}

.hidden { visibility: hidden; }


/* When it's less than 700 pixels wide, do normal scrollytelling */
@media only screen and (min-width: 700px) {

 #scrolly.side-by-side {
   display: flex;
 }

 #scrolly.side-by-side > div {
   flex-basis: 0;
   flex-grow: 1;
   flex-shrink: 1;
   padding: 0.75em;
 }

 #scrolly.side-by-side .scrolly-overlay {
   margin-top: 70vh;
   order: 0;
   /* Change these to adjust sizing options */
   min-width: 15rem;
   max-width: 20rem;
 }

 #scrolly.side-by-side .sticky-thing {
   order: 1;
   flex-grow: 2;
 }


 #scrolly.step{
    margin: 0 auto 1rem auto; /* Sets margin top and bottom to 2rem and centers the element horizontally */
    /* margin-left: 0px; */
    margin-bottom: 25rem; /* Adds additional margin-bottom */
    background-color: rgba(232, 229, 216, .5); /* Sets background color to black */
    color: black; /* Sets text color to white */
    font: inherit; /* Inherits font properties from parent */
    min-height: 50px; /* Set minimum height */
    display: inline-block; /* Ensures that the element takes up space even when it's empty */

 }

}

.pullquote {
    font-size: 27px; /* Adjust font size as needed */
    font-family: "BentonSans";
    font-style: italic; /* Make text italic */
    text-align: center;
    font-weight: 300;
    }

.byline {
    text-align: center;
	font-weight: 300;
    font-style: italic;
    font-size: 18px;
}

 /* Style for the button */
 .audio-button {
    width: 75px; /* Adjust the width and height as needed */
    height: 75px;
    padding: 0; /* Remove padding to fit the triangle */
    background-color: #FF7F7F;
    color: white;
    border: none;
    border-radius: 50%; /* Make it circular */
    position: relative; /* Required for absolute positioning of triangle */
    overflow: hidden; /* Hide overflow of triangle */
  }
  
.audiobutton:hover {
    background-color: #E8E5D8;
  }
  
  /* Style for the triangle */
  .play-triangle {
    position: absolute; /* Position relative to the button */
    top: 50%; /* Align vertically */
    left: 55%; /* Align horizontally */
    transform: translate(-50%, -50%); /* Adjust position */
    width: 0;
    height: 0;
    color: #E8E5D8;
    border-top: 15px solid transparent; /* Change size as needed */
    border-bottom: 15px solid transparent; /* Change size as needed */
    border-left: 25px solid #E8E5D8; /* Change color and size as needed */
    cursor: pointer;
  }

  .button-text {
  font-size: 27px; /* Adjust font size as needed */
    font-family: "BentonSans";
    font-style: italic; /* Make text italic */
    text-align: center;
    font-weight: 300;
    margin-left: 10px; /* Adjust margin as needed */
  }


  .button-container {
      display: flex;
      justify-content: center;
      align-items: center;
      }

      .content {
text-align: center;
}





