
@font-face{
    font-family: "ModernoFB";
 src: url('ModernoFB-Bold.otf'), format('opentype');
}


@font-face {
 font-family: "Benton Sans";
 src:
     url("https://assets.staticlp.com/javascripts/2c8c3478-e1ba-4af3-bfd0-9fea259fc17f-3.woff") format("woff"),
     url("https://assets.staticlp.com/javascripts/2c8c3478-e1ba-4af3-bfd0-9fea259fc17f-1.ttf") format("truetype");
 font-style: normal;
 font-stretch: normal;
/* font-weight: var(--font-weight-light, 300); */
 font-weight: 300;
 font-display: swap;
}

@font-face {
 font-family: "Benton Sans";
 src:
     url("https://assets.staticlp.com/javascripts/743d3d3a-da58-48d2-a5c3-bd7994650e23-3.woff") format("woff"),
     url("https://assets.staticlp.com/javascripts/743d3d3a-da58-48d2-a5c3-bd7994650e23-1.ttf") format("truetype");
 font-style: normal;
 font-stretch: normal;
/* font-weight: var(--font-weight-medium, 600); */
 font-weight: 600;
 font-display: swap;
}

body {
 margin: 2em;
 font-size: 1.5em;
 font-family: "Benton Sans", sans-serif;
 font-weight: 600;
 -webkit-font-smoothing: antialiased;
 background-color: #E8E5D8;
}

.segment {
 padding: 20px;
 border: 1px solid #ddd;
 border-radius: 5px;
 margin: 10px;
 background-color: #E8E5D8;
     color: black;
 font-family: "Benton Sans";
 font-weight: var(--font-weight-light, 300);
 height: 18vh; /* Take up 100% of the viewport height */
 width: 95%; /* Take up 100% of the viewport width */
 display: flex; /* Use flexbox layout */
     justify-content: center; /* Center horizontally */
     align-items: center; /* Center vertically */
 border: none;
 text-align: center;
}  

.segment p {
 text-align: center;
 padding: 2rem;
 font-size: 1.25rem;
 width: 600px
}

.smallsegment {
 padding: 20px;
 border: 1px solid #ddd;
 border-radius: 5px;
 margin: 20px;
 background-color: black;
     color: white;
 font-family: Helvetica, sans-serif;
 height: 10vh; /* Take up 100% of the viewport height */
 width: 95%; /* Take up 100% of the viewport width */
 display: flex; /* Use flexbox layout */
     justify-content: center; /* Center horizontally */
     align-items: center; /* Center vertically */
 border: none;
 text-align: center;
}  
.datetime {
 padding: 20px;
 border: 1px solid #ddd;
 border-radius: 5px;
 margin: 10px;
 background-color: #E8E5D8;
     color: black;
 font-family: "ModernoFB";
 font-weight: var(--font-weight-heavy, 600);
 height: 5; /* Take up 100% of the viewport height */
 width: 95%; /* Take up 100% of the viewport width */
 display: flex; /* Use flexbox layout */
     justify-content: center; /* Center horizontally */
     align-items: center; /* Center vertically */
 border: none;
 text-align: center;
}  

.datetime p {
 text-align: center;
 padding: 2rem;
 font-size: 2.25rem;
 width: 800px
}

.column {
   float: left;
  width: 30%;
   padding: 15px;
}

/* Clear floats after image containers */
 .row::after {
 content: "";
 clear: both;
 display: table;
 }

#scrolly {
 position: relative;
 padding: 1rem;
}

.scrolly-overlay {
 position: relative;
 padding: 0;
 max-width: 20rem;
 margin: 0 auto;
 margin-left: 10px; /* edit to move scrolly content to left */
}

.sticky-thing {
 position: -webkit-sticky;
 position: sticky;
 left: 0;
 width: 100%;
 margin: 0;
 z-index: 0;
 top: 0;
 height: 100vh;
 /* Center everything inside */
 display: flex;
 justify-content: center;
 flex-direction: column;
 justify-content: center;
}

.step {
margin: 0 auto 2rem auto; /* Sets margin top and bottom to 2rem and centers the element horizontally */
/* margin-left: 0px; */
margin-bottom: 25rem; /* Adds additional margin-bottom */
background-color: rgba(232, 229, 216, .5); /* Sets background color to black */
color: black; /* Sets text color to white */
font: inherit; /* Inherits font properties from parent */
min-height: 50px; /* Set minimum height */
display: inline-block; /* Ensures that the element takes up space even when it's empty */
}

.step p {
 text-align: left;
 padding: 1rem;
 font-size: 1.25rem;
 border: black;
}

.hidden { visibility: hidden; }


/* When it's less than 700 pixels wide, do normal scrollytelling */
@media only screen and (min-width: 700px) {

 #scrolly.side-by-side {
   display: flex;
 }

 #scrolly.side-by-side > div {
   flex-basis: 0;
   flex-grow: 1;
   flex-shrink: 1;
   padding: 0.75em;
 }

 #scrolly.side-by-side .scrolly-overlay {
   margin-top: 70vh;
   order: 0;
   /* Change these to adjust sizing options */
   min-width: 15rem;
   max-width: 20rem;
 }

 #scrolly.side-by-side .sticky-thing {
   order: 1;
   flex-grow: 2;
 }


 #scrolly.step{
    margin: 0 auto 1rem auto; /* Sets margin top and bottom to 2rem and centers the element horizontally */
    /* margin-left: 0px; */
    margin-bottom: 25rem; /* Adds additional margin-bottom */
    background-color: rgba(232, 229, 216, .5); /* Sets background color to black */
    color: black; /* Sets text color to white */
    font: inherit; /* Inherits font properties from parent */
    min-height: 50px; /* Set minimum height */
    display: inline-block; /* Ensures that the element takes up space even when it's empty */

 }

}




